@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap");
body {
	font-family: "Montserrat", sans-serif;
	background-color: #e9ecef;
}

.content {
	display: flex;
	flex-direction: column;
	/* transform: translateY(-180px); */
}

.wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 15px;

	transition: opacity 1s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.show-inputs {
	opacity: 1;
	height: auto;
}

.select-wrap {
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.input-group-date {
	justify-content: center;
	flex-wrap: nowrap;
}

.input-group-date .date {
	flex-grow: 1;
}

.show-inputs {
	margin-bottom: 10px;
}

.cards {
	display: flex;
	justify-content: space-around;
	gap: 20px;
}

.card-wrap,
.today,
.tomorrow {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px black solid;
	border-radius: 5px;
}

.today {
	background-color: aquamarine;
}

.day-name {
	font-size: 15px;
	font-weight: 600;
}

.month {
	font-size: 15px;
	font-weight: 600;
}

.table-wrap {
	margin-top: 10px;
}

/* .table {
	overflow: hidden;
} */

/* .string-hover:hover {
	
} */

td,
th {
	text-align: center;
	vertical-align: middle;
}

.total-title {
	text-align: left;
}

.total-hour {
	font-weight: 600;
}

.mb-3 {
	margin: 0 !important;
}

.btn-delete {
	padding: 0;
}

.table > :not(caption) > * > * {
	padding: 3px;
}

@media (max-width: 440px) {
	.btn,
	.today,
	.tomorrow,
	.input-group-text,
	.form-select,
	th,
	td,
	select,
	input {
		font-size: 13px !important;
		padding: 3px !important;
	}
	/* .input-group-date .date {
		width: 87%;
	} */
	.select-wrap {
		flex-direction: column;
	}
	img {
		width: 80%;
		height: auto;
	}
}

/* @media (min-width: 319px) {
	.input-group-date .date {
		width: 84%;
	}
} */
