@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap");
body {
	font-family: "Montserrat", sans-serif;
}

.wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}

.select-wrap {
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-top: 20px;
}

select {
	width: 33.33%;
}

.btn {
	margin-top: 20px;
}

.cards {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	margin-top: 20px;
}

.card-wrap,
.today,
.tomorrow {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px black solid;
	border-radius: 5px;
}

.month {
	font-size: 15px;
	font-weight: 600;
}

.table-wrap {
	margin-top: 20px;
}

td,
th {
	text-align: center;
}

@media (max-width: 440px) {
	.total,
	.btn,
	.today,
	.tomorrow,
	th,
	td,
	select,
	input {
		font-size: 13px;
	}
}
