.wrap {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.my-card {
	/* width: 50%; */
	height: 50px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	/* border: 2px red solid; */
}

.card-wrap {
	display: flex;
	justify-content: center;
}
